body {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  flex-direction: column;
  line-height: 1.5;
}

/*head on flexible mode so it sizes down*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #ffffff;
}



h1 {
  font-size: 50px;
  background-color: #ffffff;
}

.select {
  background-color: #000000;
  height: 150;
}
/*profile avatar styling for slant and drop shadow for style*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 30px;
}

nav li {
  display: inline-flex;
  justify-content: flex-inline;
  min-width: 300px;
  font-size: 20px;
}

nav a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
/*header font hover turns pink*/
nav a:hover {
  color: rgb(252, 79, 220);
}

.content {
  padding-left: 4;
  padding-right: 4;
}

.pic {
  padding-top: 5px;
  padding: 25px;
  display: flex;
  justify-content: center;
}


.about-me {
  display: inline-flex;
  flex-basis: 100%;
  flex-direction: center;
  justify-content: center;
}

.about-me h2 {
  width: 45%;
  padding: 10px;
  padding-top: 2px;
  text-align: right;
  font-size: 35px;
}

.about-me p {
  display: flex;
  justify-content: center;
  border-left: 5px solid;
  border-color: #000000;
  padding: 60px;
}

h2 {
  font-size: 35px;
}

.projects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projects h2 {
  width: 15%;
  padding: 18px;
  padding-top: 60px;
  text-align: right;
  font-size: 35px;
}

/*avatar picture with a degree of slant for style*/
.project-image {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

/*making image darker on hover*/
.project-image {
  opacity: 0.80;
}

.project-image:hover {
  opacity: 1;
}

.projects p {
  border-left: 5px solid;
  border-color: #000000;
  padding: 30px;
}

/* picture grow with hover */
.project-image {
  transition: all .2s ease-in-out;
}

/* picture grow with hover */
.project-image:hover {
  transform: scale(1.1);

  /*footer inline for contact info*/
}

.footer h3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 60px;
  width: 106%;
  line-height: 60px;
  background-color: #ffffff;
  font-size: 30px;
}

div {
  display: flex;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #ffffff;
  padding: 40px;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer a {
  color: black;
}