body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin: 0;
}



header {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  background-color: #ffffff;
}

header {
  width: 100%;
  line-height: 40px;
  background-color: #1454eb;
}

h1 {
  font-size: 40px;
  background-color: #c51919;
}


nav a {
  display: wrap;
  justify-content: normal;
  color: #0c0c0c;
  font-weight: bold;
  padding: 14px 20px;
  text-decoration: underline;
  text-decoration-thickness: 10%;
  text-align: right;
  font-size: 28px;
}

.select {
  display: flex;
  height: 150%;
  background-image: url("./images/DSC03813-Edit.JPG");
  width: 150%;
  image-orientation: center;
}

.content {
  padding-left: 4;
  padding-right: 4;
}


.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me h2 {
  width: 45%;
  padding: 10px;
  padding-top: 0px;
  text-align: right;
  font-size: 35px;
}

.about-me p {
  border-left: 5px solid;
  border-color: #1454eb;
  padding: 10px;
}

h2 {
  font-size: 35px;
}

.projects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projects h2 {
  width: 15%;
  padding: 10px;
  padding-top: 0px;
  text-align: right;
  font-size: 35px;
}

.project-image {
  opacity: 0.50;
}

.project-image:hover {
  opacity: 1;
}

.projects p {
  border-left: 5px solid;
  border-color: #1454eb;
  padding: 11px;
}

.footer h3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 60px;
  width: 106%;
  line-height: 60px;
  background-color: #1454eb;
}

div {
  display: flex;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #bacaf0;
  padding: 40px;
  flex-direction: row;
  justify-content: space-evenly;
}